@{
    ViewData["Title"] = "Strona główna";
}

<div class="row">
    <div class="col-md-12">
        <br />
        <table class="table table-hover table-bordered table-striped" id="magzinesTable">
            <thead>
                <tr>
                    <th>
                        LP
                    </th>
                    <th>
                        Tytuł czasopisma
                    </th>
                    <th>
                        ISSN
                    </th>
                    <th>
                        EISSN
                    </th>
                    <th>
                        Punkty
                    </th>
                    <th>
                        Lista
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        Magazynów w bazie: @ViewBag.MagazinesCount
    </div>
</div>



@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#magzinesTable').DataTable({
                "ajax": "/Home/JsonTable",
                "columns": [
                    { "data": "lp", "className": "text-center" },
                    { "data": "title" },
                    {
                        "data": "issn",
                        "width": "10%",
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            return '<a href="/Home/ISSN/' + data + '">' + data + '</a>';
                        },
                    },
                    {
                        "data": "eissn",
                        "width": "10%",
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            return '<a href="/Home/EISSN/' + data + '">' + data + '</a>';
                        },
                    },
                    { "data": "points", "className": "text-center" },
                    { "data": "list", "className": "text-center" },
                ],
                processing: true,
                pageLength: 50,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Wszystkie"]],
                "language": {
                    "lengthMenu": "Pokaż _MENU_ rekordów",
                    "search": "Szukaj:",
                    "paginate": {
                        "next": "Następna strona",
                        "previous": "Poprzednia strona"
                    },
                    "emptyTable": "Brak danych",
                    "loadingRecords": "Proszę czekać - ładowanie...",
                    "processing": "Proszę czekać - ładowanie...",
                    "zeroRecords": "Brak rekordów do wyświetlenia",
                    "info": "Pokazuję stronę _PAGE_ z _PAGES_",
                    "infoFiltered": " - przefiltrowane z _MAX_ rekordów",
                    "infoEmpty": "Brak rekordów do wyświetlenia"
                }
                //info: false,
            });
            table.search("", true, false).draw(); //Dokładne dopasowanie do wyszukiwania
        });
    </script>
}


